# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# SDK 키파일만 무시
src/main/resources/stduck-252fa-firebase-adminsdk-896br-e08dfdb7aa.json
